<ul class="nav">
  <li class="nav-item">
    <%= link_to "Create new Project", new_project_path, :class => "nav-link" %>
  </li>
</ul>

<div class="container">
  <h2>Projects</h2>
  <div class="overview">
    <% @projects.each do |project| %>
      <div class="card spacing">
        <div class="card-body">
          <h5><%= link_to project.name, project_path(project) %></h3>
          <hr>
          <p><%= truncate project.description %></p>
        </div>
        <div class="card-footer">
          <%= link_to "Delete", project_path(project), data: {:confirm => "Seriously?!"}, method: :delete %>
          <%= link_to "Edit", edit_project_path(project), {:class => "card-link"} %>
        </div>
      </div>
    <% end %>
  </div>
</div>